* text=auto !eol
/AUTHORS -text
/BUGS -text
/CHANGES -text
/COPYING -text
/ChangeLog -text
/HINTS -text
/INSTALL -text
/INSTALL.real -text
/Makefile.am -text
/NEWS -text
/PLANS -text
/README -text
/README.AltiVec -text
/README.DV -text
/README.avilib -text
/README.glav -text
/README.lavpipe -text
/README.transist -text
/TODO -text
/acinclude.m4 -text
aenc/Makefile.am -text
aenc/README -text
aenc/common.c -text
aenc/common.h -text
aenc/encode.c -text
aenc/encoder.h -text
aenc/fft.c -text
aenc/musicin.c -text
aenc/psy.c -text
aenc/subs.c -text
aenc/table_absthr.h -text
aenc/table_alloc.h -text
aenc/table_cb.h -text
aenc/table_enwindow.h -text
aenc/table_th.h -text
aenc/tables.c -text
aenc/tonal.c -text
aenc/wav_io.c -text
aenc/wav_io.h -text
/autogen.sh -text
/configure.ac -text
/cpuinfo.sh -text
debian/Makefile.am -text
debian/changelog -text
debian/control.in -text
debian/copyright -text
debian/libmjpegtools-dev.files -text
debian/libmjpegtools.files -text
debian/mjpegtools.docs -text
debian/mjpegtools.files -text
debian/mjpegtools.info -text
debian/mjpegtools.manpages -text
debian/rules -text
docs/FAQ.txt -text
docs/Makefile.am -text
docs/authors.sgml -text
docs/jpeg2yuv.1 -text
docs/lav2mpeg.1 -text
docs/lav2wav.1 -text
docs/lav2yuv.1 -text
docs/lavpipe.1 -text
docs/lavplay.1 -text
docs/lavrec.1 -text
docs/lavtools.sgml -text
docs/lavtrans.1 -text
docs/mjpeg-howto.info -text
docs/mjpeg-howto.info-1 -text
docs/mjpeg-howto.info-2 -text
docs/mjpeg-howto.info-3 -text
docs/mjpegtools.1 -text
docs/mp2enc.1 -text
docs/mpeg2enc.1 -text
docs/mplex.1 -text
docs/pgmtoy4m.1 -text
docs/png2yuv.1 -text
docs/ppmtoy4m.1 -text
docs/y4mcolorbars.1 -text
docs/y4mdenoise.1 -text
docs/y4mtoppm.1 -text
docs/yuv2lav.1 -text
docs/yuv4mpeg.5 -text
docs/yuvdenoise.1 -text
docs/yuvfps.1 -text
docs/yuvinactive.1 -text
docs/yuvkineco.1 -text
docs/yuvmedianfilter.1 -text
docs/yuvplay.1 -text
docs/yuvscaler.1 -text
docs/yuvycsnoise.1 -text
lavtools/Makefile.am -text
lavtools/audiolib.c -text
lavtools/audiolib.h -text
lavtools/avilib.c -text
lavtools/avilib.h -text
lavtools/colorspace.c -text
lavtools/colorspace.h -text
lavtools/editlist.c -text
lavtools/editlist.h -text
lavtools/frequencies.c -text
lavtools/frequencies.h -text
lavtools/glav.c -text
lavtools/glav.h -text
lavtools/glav_main.c -text
lavtools/jpeg2yuv.c -text
lavtools/jpegutils.c -text
lavtools/jpegutils.h -text
lavtools/lav2wav.c -text
lavtools/lav2wav.h -text
lavtools/lav2yuv.c -text
lavtools/lav_common.c -text
lavtools/lav_common.h -text
lavtools/lav_io.c -text
lavtools/lav_io.h -text
lavtools/lavaddwav.c -text
lavtools/lavinfo.c -text
lavtools/lavpipe.c -text
lavtools/lavplay.c -text
lavtools/lavrec.c -text
lavtools/lavtc.bash -text
lavtools/lavtrans.c -text
lavtools/lavvideo.c -text
lavtools/libavifile.h -text
lavtools/liblavplay.c -text
lavtools/liblavplay.h -text
lavtools/liblavrec.c -text
lavtools/liblavrec.h -text
lavtools/matteblend.flt.c -text
lavtools/multiblend.flt.c -text
lavtools/pgmtoy4m.c -text
lavtools/pipelist.c -text
lavtools/pipelist.h -text
lavtools/png2yuv.c -text
lavtools/ppmtoy4m.c -text
lavtools/riffinfo.h -text
lavtools/subsample.c -text
lavtools/subsample.h -text
lavtools/testrec.c -text
lavtools/transist.flt.c -text
lavtools/y4mblack.c -text
lavtools/y4mcolorbars.c -text
lavtools/y4minterlace.c -text
lavtools/y4mshift.c -text
lavtools/y4mspatialfilter.c -text
lavtools/y4mstabilizer.c -text
lavtools/y4mtoppm.c -text
lavtools/y4mtoyuv.c -text
lavtools/ypipe.c -text
lavtools/yuv2lav.c -text
lavtools/yuv4mpeg.c -text
lavtools/yuvcorrect.c -text
lavtools/yuvcorrect.h -text
lavtools/yuvcorrect_functions.c -text
lavtools/yuvcorrect_tune.c -text
lavtools/yuvfps.c -text
lavtools/yuvinactive.c -text
lavtools/yuvmedianfilter.c -text
lavtools/yuvplay.c -text
lavtools/yuvscaler.c -text
lavtools/yuvscaler.h -text
lavtools/yuvscaler_bicubic.c -text
lavtools/yuvscaler_implementation.txt -text
lavtools/yuvscaler_resample.c -text
/mjpeg_howto.txt -text
/mjpegtools.pc.in -text
/mjpegtools.spec.in -text
mpeg2enc/ChangeLog -text
mpeg2enc/INSTALL -text
mpeg2enc/Makefile.am -text
mpeg2enc/NOTES -text
mpeg2enc/README -text
mpeg2enc/TODO -text
mpeg2enc/conform.cc -text
mpeg2enc/elemstrmwriter.cc -text
mpeg2enc/elemstrmwriter.hh -text
mpeg2enc/encoderparams.cc -text
mpeg2enc/encoderparams.hh -text
mpeg2enc/fdct_mmx.s -text
mpeg2enc/fdctdata.c -text
mpeg2enc/fdctref.c -text
mpeg2enc/idct.c -text
mpeg2enc/idct_mmx.s -text
mpeg2enc/idctdata.c -text
mpeg2enc/macroblock.cc -text
mpeg2enc/macroblock.hh -text
mpeg2enc/mjpegcat.cc -text
mpeg2enc/motionest.cc -text
mpeg2enc/mpeg2coder.cc -text
mpeg2enc/mpeg2coder.hh -text
mpeg2enc/mpeg2enc.cc -text
mpeg2enc/mpeg2encoder.cc -text
mpeg2enc/mpeg2encoder.hh -text
mpeg2enc/mpeg2encoptions.cc -text
mpeg2enc/mpeg2encoptions.hh -text
mpeg2enc/mpeg2encparams.h -text
mpeg2enc/mpeg2syntaxcodes.h -text
mpeg2enc/picture.cc -text
mpeg2enc/picture.hh -text
mpeg2enc/picturereader.cc -text
mpeg2enc/picturereader.hh -text
mpeg2enc/predcomp_mmx.s -text
mpeg2enc/predcomp_mmxe.s -text
mpeg2enc/predict.cc -text
mpeg2enc/predict_mmx.s -text
mpeg2enc/predict_ref.c -text
mpeg2enc/predict_ref.h -text
mpeg2enc/predict_x86.c -text
mpeg2enc/putpic.cc -text
mpeg2enc/putseq.cc -text
mpeg2enc/quant_mmx.s -text
mpeg2enc/quantize.cc -text
mpeg2enc/quantize.hh -text
mpeg2enc/quantize_precomp.h -text
mpeg2enc/quantize_ref.c -text
mpeg2enc/quantize_ref.h -text
mpeg2enc/quantize_x86.c -text
mpeg2enc/ratectl.cc -text
mpeg2enc/ratectl.hh -text
mpeg2enc/rcdist_mmx.s -text
mpeg2enc/seqencoder.hh -text
mpeg2enc/simd.h -text
mpeg2enc/stats.cc -text
mpeg2enc/synchrolib.cc -text
mpeg2enc/synchrolib.h -text
mpeg2enc/syntaxconsts.h -text
mpeg2enc/tables.c -text
mpeg2enc/tables.h -text
mpeg2enc/transfrm.cc -text
mpeg2enc/transfrm_ref.c -text
mpeg2enc/transfrm_ref.h -text
mpeg2enc/transfrm_x86.c -text
mpeg2enc/writepic.cc -text
mplex/COPYING -text
mplex/Doxyfile -text
mplex/INSTRUCT -text
mplex/Makefile.am -text
mplex/README -text
mplex/TODO -text
mplex/ac3strm_in.cpp -text
mplex/audiostrm.hpp -text
mplex/audiostrm_out.cpp -text
mplex/aunit.hpp -text
mplex/aunitbuffer.hpp -text
mplex/bits.cpp -text
mplex/bits.hpp -text
mplex/decodebufmodel.cpp -text
mplex/decodebufmodel.hpp -text
mplex/dtsstrm_in.cpp -text
mplex/inputstrm.cpp -text
mplex/inputstrm.hpp -text
mplex/interact.cpp -text
mplex/interact.hpp -text
mplex/lpcmstrm_in.cpp -text
mplex/main.cpp -text
mplex/mpastrm_in.cpp -text
mplex/mpeg_systems_paper_0.99.ps.gz -text
mplex/mplexconsts.hpp -text
mplex/multiplexor.cpp -text
mplex/multiplexor.hpp -text
mplex/outputstrm.hpp -text
mplex/padstrm.cpp -text
mplex/padstrm.hpp -text
mplex/stillsstream.cpp -text
mplex/stillsstream.hpp -text
mplex/stream_params.cpp -text
mplex/stream_params.hpp -text
mplex/systems.cpp -text
mplex/systems.hpp -text
mplex/vector.cpp -text
mplex/vector.hpp -text
mplex/videostrm.hpp -text
mplex/videostrm_in.cpp -text
mplex/videostrm_out.cpp -text
mplex/zalphastrm.hpp -text
mplex/zalphastrm_in.cpp -text
mplex/zalphastrm_out.cpp -text
scripts/Makefile.am -text
scripts/anytovcd.sh -text
scripts/aufnahme -text
scripts/berechne -text
scripts/codiere -text
scripts/frameber -text
scripts/lav2avi.sh -text
scripts/lav2mpeg -text
scripts/makePLI.py -text
scripts/mpegtranscode -text
/strip_fPIC.sh -text
utils/Makefile.am -text
utils/altivec/Makefile.am -text
utils/altivec/README -text
utils/altivec/add_pred.c -text
utils/altivec/altivec_conf.h -text
utils/altivec/altivec_motion.h -text
utils/altivec/altivec_predict.h -text
utils/altivec/altivec_quantize.h -text
utils/altivec/altivec_transform.h -text
utils/altivec/amber.c -text
utils/altivec/amber.h -text
utils/altivec/benchmark.c -text
utils/altivec/benchmark.h -text
utils/altivec/bsad.c -text
utils/altivec/bsumsq.c -text
utils/altivec/bsumsq_sub22.c -text
utils/altivec/build_sub22_mests.c -text
utils/altivec/build_sub44_mests.c -text
utils/altivec/detect.c -text
utils/altivec/fdct.c -text
utils/altivec/fdct_idct.c -text
utils/altivec/field_dct_best.c -text
utils/altivec/find_best_one_pel.c -text
utils/altivec/idct.c -text
utils/altivec/iquant_intra.c -text
utils/altivec/iquant_non_intra.c -text
utils/altivec/motion.c -text
utils/altivec/pred_comp.c -text
utils/altivec/quant_non_intra.c -text
utils/altivec/quant_weight_coeff_sum.c -text
utils/altivec/quantize.c -text
utils/altivec/sad_00.c -text
utils/altivec/sad_01.c -text
utils/altivec/sad_10.c -text
utils/altivec/sad_11.c -text
utils/altivec/sub_mean_reduction.c -text
utils/altivec/sub_mean_reduction_ppc.S -text
utils/altivec/sub_pred.c -text
utils/altivec/subsample_image.c -text
utils/altivec/sumsq.c -text
utils/altivec/sumsq_sub22.c -text
utils/altivec/variance.c -text
utils/altivec/vectorize.h -text
utils/altivec/verify.h -text
utils/attributes.h -text
utils/cpu_accel.c -text
utils/cpu_accel.h -text
utils/cpuinfo.c -text
utils/fastintfns.h -text
utils/format_codes.h -text
utils/mjpeg_logging.c -text
utils/mjpeg_logging.h -text
utils/mjpeg_types.h -text
utils/mmx.h -text
utils/mmxsse/Makefile.am -text
utils/mmxsse/build_sub22_mests.c -text
utils/mmxsse/build_sub44_mests.c -text
utils/mmxsse/find_best_one_pel.c -text
utils/mmxsse/mblock_bsad_mmx.s -text
utils/mmxsse/mblock_bsumsq_mmx.s -text
utils/mmxsse/mblock_sad_mmx.s -text
utils/mmxsse/mblock_sad_mmxe.s -text
utils/mmxsse/mblock_sub44_sads_x86.c -text
utils/mmxsse/mblock_sub44_sads_x86.h -text
utils/mmxsse/mblock_sub44_sads_x86_h.c -text
utils/mmxsse/mblock_sumsq_mmx.s -text
utils/mmxsse/mmxsse_motion.h -text
utils/mmxsse/motion.c -text
utils/motionsearch.c -text
utils/motionsearch.h -text
utils/mpegconsts.c -text
utils/mpegconsts.h -text
utils/mpegtimecode.c -text
utils/mpegtimecode.h -text
utils/videodev_mjpeg.h -text
utils/yuv4mpeg.c -text
utils/yuv4mpeg.h -text
utils/yuv4mpeg_intern.h -text
utils/yuv4mpeg_ratio.c -text
y4mdenoise/Allocator.hh -text
y4mdenoise/BitmapRegion2D.hh -text
y4mdenoise/DoublyLinkedList.hh -text
y4mdenoise/Limits.hh -text
y4mdenoise/Makefile.am -text
y4mdenoise/MotionSearcher.hh -text
y4mdenoise/ReferenceFrame.hh -text
y4mdenoise/Region2D.hh -text
y4mdenoise/SearchBorder.hh -text
y4mdenoise/SearchWindow.hh -text
y4mdenoise/Set.hh -text
y4mdenoise/SetRegion2D.hh -text
y4mdenoise/SkipList.hh -text
y4mdenoise/Status_t.h -text
y4mdenoise/TemplateLib.hh -text
y4mdenoise/implementation.html -text
y4mdenoise/main.c -text
y4mdenoise/newdenoise.cc -text
y4mdenoise/newdenoise.hh -text
y4mdenoise/regiontest.cc -text
yuvdeinterlace/Makefile.am -text
yuvdeinterlace/blend_fields.c -text
yuvdeinterlace/blend_fields.h -text
yuvdeinterlace/main.c -text
yuvdeinterlace/motionsearch_deint.c -text
yuvdeinterlace/motionsearch_deint.h -text
yuvdeinterlace/sinc_interpolation.c -text
yuvdeinterlace/sinc_interpolation.h -text
yuvdeinterlace/transform_block.c -text
yuvdeinterlace/transform_block.h -text
yuvdeinterlace/vector.h -text
yuvdenoise/COPYING -text
yuvdenoise/ChangeLog -text
yuvdenoise/Makefile.am -text
yuvdenoise/README -text
yuvdenoise/deinterlace.c -text
yuvdenoise/deinterlace.h -text
yuvdenoise/denoise.c -text
yuvdenoise/denoise.h -text
yuvdenoise/global.h -text
yuvdenoise/main.c -text
yuvdenoise/motion.c -text
yuvdenoise/motion.h -text
yuvfilters/ChangeLog -text
yuvfilters/Makefile.am -text
yuvfilters/README.2-3pulldown -text
yuvfilters/TODO -text
yuvfilters/addtask.c -text
yuvfilters/alloctask.c -text
yuvfilters/initframe.c -text
yuvfilters/main.c -text
yuvfilters/putframe.c -text
yuvfilters/yuvfilters.h -text
yuvfilters/yuvkineco.c -text
yuvfilters/yuvstdin.c -text
yuvfilters/yuvstdout.c -text
yuvfilters/yuvycsnoise.c -text
