/.deps
/Makefile
/Makefile.in
/aclocal.m4
aenc/.deps
aenc/Makefile
aenc/Makefile.in
aenc/mp2enc
/confdefs.h
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
docs/.deps
docs/.libs
docs/Makefile
docs/Makefile.in
lavtools/.deps
lavtools/Makefile
lavtools/Makefile.in
lavtools/lav2dfilter
lavtools/lav2wav
lavtools/lav2yuv
lavtools/lavaddwav
lavtools/lavplay
lavtools/lavrec
lavtools/lavtrans
lavtools/lavvideo
lavtools/testrec
lavtools/v4l-conf
lavtools/xlav
/ltmain.sh
mpeg2enc/.deps
mpeg2enc/Makefile
mpeg2enc/Makefile.in
mpeg2enc/mjpegcat
mpeg2enc/mpeg2enc
mplex/.deps
mplex/.libs
mplex/Makefile
mplex/Makefile.in
mplex/mplex
scripts/Makefile
scripts/Makefile.in
/stamp-h
/stamp-h.in
utils/Makefile.in
utils/lavaddwav
utils/lavtrans
yuvdenoise/*.m1v
yuvdenoise/*.nuv
yuvdenoise/*.yuv
yuvdenoise/.deps
yuvdenoise/Makefile
yuvdenoise/Makefile.in
yuvdenoise/aclocal.m4
yuvdenoise/config.*
yuvdenoise/configure
yuvdenoise/configure.in
yuvdenoise/gmon.out
yuvdenoise/yuvdenoise
yuvdenoise/yuvdenoise.o
