/.deps
/Makefile
/Makefile.in
/aclocal.m4
aenc/.deps
aenc/.libs
aenc/Makefile
aenc/Makefile.in
aenc/mp2enc
/compile
/confdefs.h
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
docs/.deps
docs/.libs
docs/Makefile
docs/Makefile.in
/install-sh
lavtools/*.la
lavtools/*.lo
lavtools/.deps
lavtools/.libs
lavtools/Makefile
lavtools/Makefile.in
lavtools/divxdec
lavtools/glav
lavtools/jpeg2yuv
lavtools/lav2dfilter
lavtools/lav2divx
lavtools/lav2wav
lavtools/lav2yuv
lavtools/lavaddwav
lavtools/lavinfo
lavtools/lavpipe
lavtools/lavplay
lavtools/lavrec
lavtools/lavtrans
lavtools/lavvideo
lavtools/matteblend.flt
lavtools/multiblend.flt
lavtools/png2yuv
lavtools/ppmtoy4m
lavtools/testrec
lavtools/transist.flt
lavtools/v4l-conf
lavtools/xlav
lavtools/y4mcolorbars
lavtools/y4mshift
lavtools/y4mtoppm
lavtools/ypipe
lavtools/yuv2divx
lavtools/yuv2lav
lavtools/yuvcorrect
lavtools/yuvcorrect_tune
lavtools/yuvfps
lavtools/yuvmedianfilter
lavtools/yuvplay
lavtools/yuvscaler
/libtool
/ltmain.sh
/missing
/mjpegtools-*.tar.gz
/mjpegtools-config
/mjpegtools.pc
/mjpegtools.spec
/mkinstalldirs
mpeg2enc/*.la
mpeg2enc/*.lo
mpeg2enc/.deps
mpeg2enc/.libs
mpeg2enc/Makefile
mpeg2enc/Makefile.in
mpeg2enc/mjpegcat
mpeg2enc/mpeg2enc
mplex/.deps
mplex/.libs
mplex/Makefile
mplex/Makefile.in
mplex/mplex
scripts/Makefile
scripts/Makefile.in
/stamp-h*
utils/.deps
utils/Makefile
utils/Makefile.in
utils/altivec/.deps
utils/altivec/Makefile
utils/altivec/Makefile.in
utils/lavaddwav
utils/lavtrans
utils/mmxsse/.deps
utils/mmxsse/Makefile
utils/mmxsse/Makefile.in
yuvdeinterlace/*.m1v
yuvdeinterlace/*.nuv
yuvdeinterlace/*.yuv
yuvdeinterlace/.deps
yuvdeinterlace/.libs
yuvdeinterlace/Makefile
yuvdeinterlace/Makefile.in
yuvdeinterlace/aclocal.m4
yuvdeinterlace/config.*
yuvdeinterlace/configure
yuvdeinterlace/configure.in
yuvdeinterlace/gmon.out
yuvdeinterlace/yuvdenoise
yuvdeinterlace/yuvdenoise.o
yuvdenoise/*.m1v
yuvdenoise/*.nuv
yuvdenoise/*.yuv
yuvdenoise/.deps
yuvdenoise/.libs
yuvdenoise/Makefile
yuvdenoise/Makefile.in
yuvdenoise/aclocal.m4
yuvdenoise/config.*
yuvdenoise/configure
yuvdenoise/configure.in
yuvdenoise/gmon.out
yuvdenoise/yuvdenoise
yuvdenoise/yuvdenoise.o
yuvfilters/*.la
yuvfilters/*.lo
yuvfilters/.deps
yuvfilters/.libs
yuvfilters/Makefile
yuvfilters/Makefile.in
yuvfilters/yuvfilter
yuvfilters/yuvkineco
yuvfilters/yuvthru
yuvfilters/yuvycsnoise
