/Makefile
/Makefile.in
/aclocal.m4
aenc/.deps
aenc/Makefile
aenc/Makefile.in
/config.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
lavtools/.deps
lavtools/Makefile
lavtools/Makefile.in
lavtools/lav2dfilter
lavtools/lav2wav
lavtools/lav2yuv
lavtools/lavaddwav
lavtools/lavplay
lavtools/lavrec
lavtools/lavtrans
lavtools/lavvideo
lavtools/testrec
lavtools/v4l-conf
lavtools/xlav
mpeg2enc/Makefile
mpeg2enc/Makefile.in
mplex/Makefile
mplex/Makefile.in
scripts/Makefile
scripts/Makefile.in
/stamp-h
/stamp-h.in
