* text=auto !eol
/BUGS -text
/CHANGES -text
/COPYING -text
/HINTS -text
/Makefile -text
/PLANS -text
/README -text
/README.avilib -text
/REQUIRED_SOFTWARE -text
/TODO -text
aenc/Makefile -text
aenc/README -text
aenc/common.c -text
aenc/common.h -text
aenc/encode.c -text
aenc/encoder.h -text
aenc/musicin.c -text
aenc/psy.c -text
aenc/subs.c -text
aenc/table_absthr.h -text
aenc/table_alloc.h -text
aenc/table_cb.h -text
aenc/table_enwindow.h -text
aenc/table_th.h -text
aenc/tables.c -text
aenc/tonal.c -text
/audiolib.c -text
/avilib.c -text
/avilib.h -text
/editlist.c -text
/editlist.h -text
/lav_io.c -text
/lav_io.h -text
/lavplay.c -text
/lavrec.c -text
/movtar.c -text
/movtar.h -text
mpeg2enc/ChangeLog -text
mpeg2enc/INSTALL -text
mpeg2enc/Makefile -text svneol=unset#application/octet-stream
mpeg2enc/README -text
mpeg2enc/config.h -text svneol=unset#application/octet-stream
mpeg2enc/conform.c -text
mpeg2enc/dist1_00.o -text
mpeg2enc/dist1_00.s -text svneol=unset#application/octet-stream
mpeg2enc/dist1_mmx.o -text
mpeg2enc/dist1_mmx.s -text svneol=unset#application/octet-stream
mpeg2enc/fdctref.c -text
mpeg2enc/fdctref.c-orig -text svneol=unset#application/octet-stream
mpeg2enc/fdist1_00.o -text
mpeg2enc/fdist1_00.s -text svneol=unset#application/octet-stream
mpeg2enc/fdist1_mmx.o -text
mpeg2enc/fdist1_mmx.s -text svneol=unset#application/octet-stream
mpeg2enc/global.h -text
mpeg2enc/idct.c -text
mpeg2enc/jpegutils.c -text svneol=unset#application/octet-stream
mpeg2enc/motion.c -text
mpeg2enc/motion.c-orig -text svneol=unset#application/octet-stream
mpeg2enc/mpeg2enc.c -text
mpeg2enc/mpeg2enc.c-orig -text svneol=unset#application/octet-stream
mpeg2enc/mpeg2enc.h -text
mpeg2enc/predict.c -text
mpeg2enc/putbits.c -text
mpeg2enc/puthdr.c -text
mpeg2enc/puthdr.c-orig -text svneol=unset#application/octet-stream
mpeg2enc/putmpg.c -text
mpeg2enc/putpic.c -text
mpeg2enc/putseq.c -text
mpeg2enc/putseq.c-orig -text svneol=unset#application/octet-stream
mpeg2enc/putvlc.c -text
mpeg2enc/quantize.c -text
mpeg2enc/quantize.c-orig -text svneol=unset#application/octet-stream
mpeg2enc/ratectl.c -text
mpeg2enc/ratectl.c-orig -text svneol=unset#application/octet-stream
mpeg2enc/readpic.c -text
mpeg2enc/readpic.c-orig -text svneol=unset#application/octet-stream
mpeg2enc/stats.c -text
mpeg2enc/stats.c-orig -text svneol=unset#application/octet-stream
mpeg2enc/transfrm.c -text
mpeg2enc/vlc.h -text
mpeg2enc/writepic.c -text
mplex/COPYING -text
mplex/INSTRUCT -text
mplex/Makefile -text
mplex/README -text
mplex/bitstrm.c -text
mplex/bitstrm.h -text
mplex/buffer.c -text
mplex/inits.c -text
mplex/inptstrm.c -text
mplex/interact.c -text
mplex/main.c -text
mplex/main.h -text
mplex/mpeg_systems_paper_0.99.ps.gz -text
mplex/multplex.c -text
mplex/systems.c -text
mplex/timecode.c -text
scripts/avi2mpeg -text
scripts/linkmpeg -text
utils/Makefile -text
utils/lavaddwav.c -text
utils/lavtrans.c -text
/v4l-conf.c -text
